/* 
    Author：hanxiaobo
    Time:2019-6-15 
 */
@import "compass/css3";

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300,800);

* {
    box-sizing: border-box;
}

@font-face {
    font-family: "footer-font";
    src: url('../../../font/footer.OTF');
}

html {
    height: 100%;
    overflow: hidden;
}

body {
    font-family: Gotham, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.5;
    letter-spacing: -.01em;
    background-color: #f7f7f7;
    width: 100%;
    height: 100%;
}

.padding {
    background-color: #f7f7f7;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    padding-left: 0;
    padding-right: 0;
}


body {
    height: 100%;
    left: 0;
    margin: 0
}

.header {
    width: 100%;
    height: 56px;
    z-index: 99;
    position: fixed;
    top: 0;
    background-color: #f7f7f7;
}

.header-in {
    position: fixed;
    top: 0;
    width: 100%;
    height: 56px;
    /* display: block; */
    z-index: 100;
    /* border-bottom: solid 2px; */
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .12), inset 0 -1px 0 0 #dadce0;
}

.navi {
    width: 50%;
    float: left;
    height: 54px;
    line-height: 54px;
    font-size: 85%;
}

.login {
    float: left;
    margin-left: 20px;


}

.home {
    float: left;
    margin-left: 40px;
    border-bottom: solid 2px rgb(26, 135, 232);

}

.signup {
    float: left;
    margin-left: 20px;

}

.exercise {
    float: left;
    margin-left: 20px;

}

.rank {
    float: left;
    margin-left: 20px;

}

.main-body {
    margin-top: 60px;
}

.logo {
    height: 42px;
    float: left;
    margin-left: 20px;
    margin-top: 7px;
}

h2 {
    text-align: center;
}

a {
    text-decoration: none;
    color: rgb(0, 101, 62);
}

a:hover {
    border-bottom: solid 1px rgb(0, 101, 62);
}

.signup:hover {
    border-bottom: solid 2px rgb(26, 135, 232);
    transition: 0.1s;
    cursor: pointer;
}

.login:hover {
    border-bottom: solid 2px rgb(26, 135, 232);
    transition: 0.1s;
    cursor: pointer;
}

.exercise:hover {
    border-bottom: solid 2px rgb(26, 135, 232);
    transition: 0.1s;
    cursor: pointer;
}

.rank:hover {
    border-bottom: solid 2px rgb(26, 135, 232);
    transition: 0.1s;
    cursor: pointer;
}

.footer {
    width: 100%;
    position: absolute;
    bottom: 0px;
    height: 80px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    line-height: 80px;
    margin-top: 5%;
    font-family: 'footer-font';
    font-size: 80%;
}

.middle-row {
    width: 100%;
    height: 50px;
    z-index: 2;
}

.middle-col {
    width: 50px;
    height: 100%;
    z-index: 1;
}

.middle-logo {
    height: 80px;
}

.middle-text {
    /* margin-left: 70%; */
    width: 100%;
    text-align: center;
    font-size: 120%;
}

.middle {
    /* border: solid 1px; */
    margin-top: 308px;

}

.test {
    background-color: red;
    transition: 5s;
}